<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
                       
	<!-- 此时cxf版本为3.0 -->
    <!-- 方法一 -->
	<jaxws:client id="helloServiceClient"  
                  serviceClass="com.ustc.service.HelloService"  
                  address="http://localhost:8080/ws/helloService" />  
    <!-- 方法二 -->         
    <!--  <bean id="helloServiceClient" class="com.ustc.service.HelloService" factory-bean="clientFactory" factory-method="create" />
                   
    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.ustc.service.HelloService" />
        <property name="address" value="http://localhost:8080/ws/helloService" />
    </bean> -->
</beans>